ol {
  list-style: none; /* Remove bullet points */
  margin: 0;
  padding: 0;
}

.song-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#song-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  margin-left: 20px; 
}

p{
  margin-left: 20px;
}
